<h1>New Session</h1>

<%= form_for @user, :url => url_for(:controller => 'sessions', :action => 'create') do |f| %>

  <div class="field">
    <%= f.label :name, "Enter Your Name" %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :password, "Enter Your Password" %><br>
    <%= f.password_field :password %>
  </div>

  <div class="actions">
    <%= f.submit "Sign In"  %>
  </div>
<% end %>
